{% extends "base.html" %}

{% block content %}

<h2>About Us</h2>

<hr>

<h3>BARAKAD SCHOOL MANAGEMENT SYSTEM</h3>

<p>
BARAKAD SCHOOL MANAGEMENT SYSTEM waa nidaam loogu talagalay
maamulka iyo xogta dugsiga.
</p>

<h3>System-ka wuxuu ka kooban yahay:</h3>

<ul>
    <li>Students</li>
    <li>Teachers</li>
    <li>Parents</li>
    <li>Classes</li>
    <li>Fees</li>
    <li>Attendance</li>
    <li>Exams</li>
    <li>Results</li>
    <li>Lesson Plan</li>
    <li>Calendar</li>
    <li>Reports</li>
    <li>Users & Permissions</li>
    <li>Admin</li>
</ul>

<hr>

<h3>Developer / Contact</h3>

<p>
<strong>Developer:</strong> Aadan Maxamed Yoonis
</p>

<p>
<strong>WhatsApp:</strong> 61 9841109
</p>

<p>
<strong>Phone:</strong> 61 7950853
</p>

<hr>

<p>
<strong>© 2026 BARAKAD SCHOOL MANAGEMENT SYSTEM</strong>
</p>

<br>

<a href="/dashboard">← Back to Dashboard</a>

{% endblock %}